body {
  background-color: #613;
  padding: 0; margin: 0; width: 100vw; height: 100vh;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  padding: 0;
  margin: auto;

  width: 100%;
  height: 100%;
  max-width: 100vh; /* Make sure height >= width */

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

main > a {
  margin: 1rem;
  padding: 1rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  color: #ddd;
  fill: #ddd;
  text-decoration: none;
  text-align: center;

  font-family: 'Quicksand', 'Noto Sans', sans-serif;
  font-size: 2rem;
  transition: 0.2s;
}

main > a:hover {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.50);
  transition: 0.5s;
}

.logo {
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: #ddd;
  transition: 0.2s;

  mask-size: auto 100%;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: url(svg/question.svg);  /* Fallback */
  -webkit-mask-image: url(svg/question.svg);
}

a:hover > .logo {
  background-color: #eee;
  transition: 0.5s;
}

a > p {
  margin: 0;
  display: inline-block;
}

/*
Logos
*/
#logo-xmpp { mask-image: url(svg/xmpp.svg); -webkit-mask-image: url(svg/xmpp.svg); }
#logo-discord { mask-image: url(svg/discord-alt.svg); -webkit-mask-image: url(svg/discord-alt.svg); }
#logo-twitch { mask-image: url(svg/twitch.svg); -webkit-mask-image: url(svg/twitch.svg); }

#logo-twitter { mask-image: url(svg/twitter.svg); -webkit-mask-image: url(svg/twitter.svg); }
#logo-soundcloud { mask-image: url(svg/soundcloud.svg); -webkit-mask-image: url(svg/soundcloud.svg); }
#logo-bandcamp { mask-image: url(svg/bandcamp.svg); -webkit-mask-image: url(svg/bandcamp.svg); }

#logo-gitlab { mask-image: url(svg/gitlab.svg); -webkit-mask-image: url(svg/gitlab.svg); }
#logo-writefreely { mask-image: url(svg/book.svg); -webkit-mask-image: url(svg/book.svg); }
#logo-pgp { mask-image: url(svg/key.svg); -webkit-mask-image: url(svg/key.svg); }
/*
Background
*/
@keyframes backgroundAnim {
  from { opacity: 0.0; }
  to   { opacity: 0.9 }
}

@keyframes starsAnim {
  from { opacity: 0.0; }
  to   { opacity: 0.3; }
}

.background, .stars {
  position: absolute;
  z-index: -1;
  padding: 0; margin: 0;
  width: 100%; height: 100%;
  opacity: 0.0;

  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.background {
  animation-name: backgroundAnim;
  animation-duration: 90s;
}

.stars {
  animation-name: starsAnim;
  animation-duration: 4s;
}

#background1 { animation-delay:  0.0s; background: linear-gradient(#103, #613) }
#background2 { animation-delay: 30.0s; background: linear-gradient(#259, #973); z-index: 1 }
#background3 { animation-delay: 60.0s; background: linear-gradient(#211, #314) }

#stars1 { animation-delay: 0.0s; background-image: url('stars1.png'); }
#stars2 { animation-delay: 4.0s; background-image: url('stars2.png'); }
#stars3 { animation-delay: 5.5s; background-image: url('stars3.png'); }
